*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
eggs
develop-eggs
.installed.cfg
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

package-lock.json
node_modules

*.tmp.js
*.mo
